@font-face {
    font-family: 'Red Hat Text';
     src: url("assets/fonts/RedHatText-VariableFont_wght.ttf");
   }

   @font-face {
    font-family: 'Magra';
     src: url("assets/fonts/Magra-Regular.ttf");
   }

   @font-face {
    font-family: 'Aleo';
     src: url("assets/fonts/Aleo-Regular.ttf");
   }

body {
    width: 1440px;
    height: 3735px;
    color: #FFFFFF;
    background: #FFFFFF;
    background: no-repeat url(assets/img/garrett-parker-DlkF4-dbCOU-unsplash\ 1-2.png);
    margin: 0;
    padding: 0;
}

h1 {
    position: absolute;
    width: 892px;
    height: 422px;
    left: 120px;
    top: 122px;

    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
}

h2, h3 {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    line-height: 53px;
    color: #F2785C;
}

.header {
    font-family: 'Red Hat Text';
    position: absolute;
    width: 1440px;
    height: 90px;
    left: -10px;
    top: 0px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.logo {
    position: absolute;
    width: 180px;
    height: 31px;
    left: 145px;
    top: 25px;

    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 42px;
    position: absolute;
    height: 21px;
    left: 484px;
    top: 35px;
}

/* Travel Stories */

.nav a {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 21px;
    color: #FFFFFF;
}

.nav ul li {
    display: inline;
    list-style-type: none;
    margin-right: 42px;
}

.login {
    width: 43px;
    height: 21px;
    
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: sticky;
    width: 103px;
    height: 41px;
    left: 1207px;
    top: 25px;

    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border: 0px;
    border-radius: 10px;
}

.subtitle {
    position: absolute;
    width: 723px;
    height: 24px;
    left: 120px;
    top: 346px;

    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}


.search {
    position: absolute;
    width: 892px;
    height: 95px;
    left: 120px;
    top: 416px;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

.search_title {
    padding-left: 41px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;

    color: #F2785C;
}

#steps {
    position: absolute;
    width: 1177px;
    height: 247px;
    left: 131px;
    top: 845px;
}

#destinations {
    position: absolute;
    width: 2520px;
    height: 1042px;
    left: -540px;
    top: 1189px;
}

#stories {
    position: absolute;
    width: 1201px;
    height: 1322px;
    left: 119px;
    top: 2311px;
}

.icon {
    width: 100px;
    height: 100px;
    background: #F2785C;
    border-radius: 16px;
}

.p {
    position: absolute;
    width: 247px;
    height: 24px;
    left: 0px;
    top: 130px;

    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}